body {
  margin: 0 50px;
  background-color: #E6E6E6;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    margin-top: 50px;
  }
  40% {
    opacity: 0;
    margin-top: 40px;
  }
  100% {
    opacity: 1;
    margin-top: 8px;
  }
}

@keyframes float-up {
  0% {
    opacity: 0;
    padding-top: 50px;
  }
  40% {
    opacity: 0;
    padding-top: 40px;
  }
  100% {
    opacity: 1;
    padding-top: 10px;
  }
}

#menu-outer {
  padding: 10px 40px 40px 40px;
  animation: float-up;
  animation-duration: 1.5s;
  -webkit-animation: float-up 1.5s;
}

#content-outer, #bottom-outer, #fake-bottom-outer {
  animation: fade-in;
  animation-duration: 1.5s;
  -webkit-animation:fade-in 1.5s;
}

#menu-outer, #content-outer, #bottom-outer, #fake-bottom-outer {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #FFF;
  border-radius: initial;
  box-shadow: rgb(69 77 93 / 30%) 0px 1rem 2.1rem;
  font-family: 'Times New Roman',SimSun;
  line-height: 1.5em;
}

#menu-inner {
  display: flex;
  justify-content: flex-end;
}

#menu-inner a, #bottom-outer a {
  color: #000;
  text-decoration: none;
  padding: 0px 10px;
  transition: background-color ease 0.8s;
}

#menu-inner a:hover {
  background-color: #F0F0F0;
}

#content-outer {
  min-height: calc(100vh - 198px);
  padding: 40px;
  margin: 8px auto;
}

.post-body {
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
  font-size: 1.2rem;
}

#post h1, #post h2, #post h3, #post h4, #post h5, #post h6 {
  font-weight: normal；
}

.post-body p img {
  max-width: 100%;
}

.MathJax_Display {
  overflow-x: scroll;
  overflow-y: hidden;
}

h1 {
  font-size: 2em;
  text-align: center;
  padding-bottom: 30px;
}

#site-info, #footer-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-height: 80px;
  padding-bottom: 10px;
  border-bottom: 3px double #000;
}

.post-date-left {
  flex: 1;
  text-align: left;
}

.site-title-area {
  flex: 3;
  text-align: center;
}

.post-date-right {
  flex: 1;
  text-align: right;
}

.tag-list {
}

.tag-list-item {
  display: block;
  float: left;
  margin: 5px;
}

aside {
  clear: both;
}

aside a {
  text-decoration: none;
  color: #4B4B4B;
}

#bottom-outer {
  padding: 40px 40px 10px 40px;
}

#bottom-outer #footer-info {
  border-bottom: 1px solid #000;
}

.recent-post-item {
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-bottom: 0.1rem solid black;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,sans-serif;
  font-size: 18px;
}

.recent-post-item a {
  color: #333;
  outline: 0;
  text-decoration: none;
}

.recent-post-item a:hover {
  text-decoration: underline;
}

.recent-post-item-time {
  text-align: right;
}

#paginator {
  padding-top: 1rem;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

#paginator span, #paginator a {
  padding: 5px;
  color: black;
  text-decoration: none;
}
