body {
  margin: 0px 0px;
  background-color: #E6E6E6;
  display: flex;
  flex-direction: row;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    margin-top: 50px;
  }
  40% {
    opacity: 0;
    margin-top: 40px;
  }
  100% {
    opacity: 1;
    margin-top: 8px;
  }
}

@keyframes float-up {
  0% {
    opacity: 0;
    padding-top: 50px;
  }
  40% {
    opacity: 0;
    padding-top: 40px;
  }
  100% {
    opacity: 1;
    padding-top: 10px;
  }
}

@keyframes float-right {
  0% {
    opacity: 0;
    margin-left: -50px;
  }
  40% {
    opacity: 0;
    margin-left: -40px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}

#main {
  flex: auto;
}

#menu-outer {
  padding: 10px 40px 40px 40px;
  animation: float-up;
  animation-duration: 1.5s;
  -webkit-animation: float-up 1.5s;
}

#content-outer, #bottom-outer, #fake-bottom-outer {
  animation: fade-in;
  animation-duration: 1.5s;
  -webkit-animation:fade-in 1.5s;
}

#menu-outer, #content-outer, #bottom-outer, #fake-bottom-outer {
  box-sizing: border-box;
  max-width: 1220px;
  margin: 0 auto;
  background-color: #FFF;
  border-radius: initial;
  box-shadow: rgb(69 77 93 / 30%) 0px 1rem 2.1rem;
  font-family: 'Times New Roman',SimSun;
  line-height: 1.5em;
}

#menu-inner {
  display: flex;
  justify-content: flex-end;
}

#menu-inner a, #bottom-outer a {
  color: #000;
  text-decoration: none;
  padding: 0px 10px;
  transition: background-color ease 0.8s;
}

#menu-inner a:hover {
  background-color: #F0F0F0;
}

#post-toc {
  width: 300px;
  display: none;
  padding: 10px;
}

#post-toc #post-toc-inner {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 300px;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #FFF;
  box-shadow: rgb(69 77 93 / 30%) 0rem 0rem .1rem;
  animation: float-right;
  animation-duration: 1.5s;
  -webkit-animation: float-right 1.5s;
}

.post-toc-title {
  font-size: 18px;
  border-bottom: 1px solid #000;
  user-select: none;
}

#post-toc ol {
  padding-left: 10px;
}

#post-toc ol li {
  list-style-type: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#post-toc ol li a {
  display: block;
  padding: 3px 10px;
  margin: 1px;
  border-radius: 3px;
  transition: background-color ease 0.8s;
}

#post-toc ol li a:hover {
  background-color: #F0F0F0;
}

#content-outer {
  min-height: calc(100vh - 198px);
  padding: 100px;
  margin: 8px auto;
}

.post-body {
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
  font-size: 1rem;
}

#post h1, #post h2, #post h3, #post h4, #post h5, #post h6 {
  font-weight: normal；
}

.post-body p img {
  max-width: 100%;
}

.MathJax_Display {
  overflow-x: auto;
  overflow-y: hidden;
}

h1 {
  font-size: 2em;
  text-align: center;
  padding-bottom: 30px;
}

h2 {
  text-align: center;
}

#site-info, #footer-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-height: 80px;
  padding-bottom: 10px;
  border-bottom: 3px double #000;
}

.post-date-left {
  flex: 1;
  text-align: left;
}

.site-title-area {
  flex: 3;
  text-align: center;
}

.post-date-right {
  flex: 1;
  text-align: right;
}

.tag-list {
}

.tag-list-item {
  display: block;
  float: left;
  margin: 5px;
}

aside {
  clear: both;
}

aside a {
  text-decoration: none;
  color: #4B4B4B;
}

#bottom-outer {
  padding: 40px 40px 10px 40px;
}

#bottom-outer #footer-info {
  border-bottom: 1px solid #000;
}

.profile {
  display: flex;
  height: 80px;
  padding: 0px 0px 32px 0px;
  margin: 0px 0px 32px 0px;
  border-bottom: 3px double #000;
}

.profile-avatar>img {
  border-radius: 50%;
}

.profile-content {
  margin: 0px 0px 0px 20px;
}

.profile-title {
  font-size: 24px;
  line-height: 24px;
  padding: 3px 0 12px 0;
  word-wrap: break-word;
}

.profile-subtitle {
  font-size: 15px;
  line-height: 18px;
  padding: 1px 0;
}

.recent-post-head {
  font-size: 18px;
  line-height: 42px;
  background-color: #F0F0F0;
  padding: 0px 20px;
  display: flex;
}

.recent-post-head-title {
  flex: 1;
  text-align: left;
}

.recent-post-head-date {
  flex: 1;
  text-align: right;
}

.recent-post-item {
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-bottom: 0.1rem solid #999;;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,sans-serif;
  font-size: 18px;
}

.recent-post-item-icon-img {
  margin: 0px 5px;
}

.recent-post-item a {
  color: #333;
  outline: 0;
  text-decoration: none;
}

.recent-post-item a:hover {
  text-decoration: underline;
}

.recent-post-item-time {
  color: #999;
  font-size: 16px;
  text-align: right;
}

#paginator {
  padding-top: 1rem;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

#paginator span, #paginator a {
  padding: 5px;
  color: black;
  text-decoration: none;
}
