
@media (max-width:1600px) {
	#post-toc {
		width: 220px;
	}

	#post-toc #post-toc-inner {
		width: 200px;
	}
}

@media (max-width:980px) {
	#main {
		margin: 0 20px;
	}

	#content-outer {
		padding: 100px;
	}

    #menu-inner a {
        font-size: 1em;
    }

	h1 {
		font-size: 1.8em
	}

	h2 {
		font-size: 1.6em
	}

	h3 {
		font-size: 1.375em;
	}

	h4, h5, h6, aside h2, aside h3 {
		font-size: 1.2em
	}

	.post-body {
		font-size: 1em;
	}
}

@media (max-width:780px) {
	#content-outer {
		padding: 40px;
	}
}

@media (max-width:580px) {
	#main {
		margin: 0 10px;
	}

	#content-outer {
		padding: 20px;
	}

    .post-date-left {
        display: none;
    }

    .post-date-right {
        display: none;
    }

    .site-subtitle {
        display: none;
    }

    #menu-inner a {
        font-size: 1em;
    }

	h1 {
		font-size: 1.7em
	}

	h2 {
		font-size: 1.5em
	}

	h3 {
		font-size: 1.275em;
	}

	h4, h5, h6, aside h2, aside h3 {
		font-size: 1.1em
	}

	.post-body {
		font-size: 1em;
	}
}

@media (min-width:981px) {
	body {
		display: flex;
		flex-direction: row;
	}

	#main {
		margin: 0 40px;
	}

	#post-toc {
		display: block;
	}

	#content-outer {
		padding: 40px;
	}

	h1 {
		font-size: 1.8em
	}

	h2 {
		font-size: 1.6em
	}

	h3 {
		font-size: 1.375em
	}

	h4, h5, h6, aside h2, aside h3 {
		font-size: 1.2em
	}
}

@media (min-width:1201px) {
	#content-outer {
		padding: 100px;
	}
}

@media (min-width:1500px) {
    #menu-inner a {
        font-size: 1.2em;
    }

	.post-body {
		font-size: 1.1em;
	}

	h1 {
		font-size: 1.9em
	}

	h2 {
		font-size: 1.7em
	}

	h3 {
		font-size: 1.475em
	}
	
	h4, h5, h6, aside h2, aside h3 {
		font-size: 1.3em
	}
}

@media (min-width:1600px) {
	.post-body {
		column-count: 2;
		column-gap: 2em;
	}
}
