h1 {
	font-size: 1.9em;
	font-weight: 600;
	line-height: 1.05
}

h2 {
	font-size: 1.7em;
	font-weight: 500;
	line-height: 1.2;
	margin-top: 32px;
	margin-bottom: 16px
}

h3 {
	font-size: 1.375em;
	font-weight: 500;
	line-height: 1.3;
	margin-top: 32px;
	margin-bottom: 16px
}

h4, h5, h6, aside h2, aside h3 {
	font-size: 1.2em;
	font-weight: 500;
	line-height: 1.625;
	margin-top: 32px;
	margin-bottom: 8px
}

@media (max-width:980px) {
	body {
		margin: 0 20px;
	}

	#content-outer {
		padding: 20px;
	}

    #menu-inner a {
        font-size: 1em;
    }

	h1 {
		font-size: 1.8em
	}

	h2 {
		font-size: 1.6em
	}

	.post-body {
		font-size: 1em;
	}
}

@media (max-width:580px) {
	body {
		margin: 0 10px;
	}

	#content-outer {
		padding: 20px;
	}

    .post-date-left {
        display: none;
    }

    .post-date-right {
        display: none;
    }

    .site-subtitle {
        display: none;
    }

    #menu-inner a {
        font-size: 1em;
    }

	h1 {
		font-size: 1.4em
	}

	h2 {
		font-size: 1.2em
	}
}

@media (min-width:981px) {
    #menu-inner a {
        font-size: 1.6em;
    }

	.post-body {
		column-count: 2;
		column-gap: 2em;
	}
}

@media (min-width:1024px) {

    #menu-inner a {
        font-size: 1.2em;
    }
}

@media (min-width:1080px) {
	h1 {
		font-size: 1.8em
	}

	h2 {
		font-size: 1.6em
	}
}

@media (min-width:1200px) {
	h1 {
		font-size: 2em
	}

	h2 {
		font-size: 1.8em
	}
}
