<aside id="post-toc" role="navigator">
    <div id="post-toc-inner">
        <strong class="post-toc-title">Catalog</strong>
        <%- toc(page.content, {list_number: true}) %>
    </div>  
</aside>
